@import "tailwindcss";

@theme {
  --font-primary: "Roboto Mono", monospace;
  --font-secondary: "Poppins", sans-serif;
}

.carousel {
  margin: 100px auto;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll-marquee 16s linear infinite;
}
.card {
  flex: 0 0 5em;
  height: 5em;
  padding: 1em;
  background: cornflowerblue;
  font-size: 3rem;
  border-radius: 0.2em;
  text-align: center;
  align-content: center;
}
.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-right: 1em;
  flex: 0 0 auto;
}

@keyframes scroll-marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
